/* Declare namespaces */
@namespace east "http://www.gov.org/east";
@namespace west "http://www.gov.org/west";

/* Format eastern states (default namespace) */
east|state {
  display: block;          /* separate line */
  background-color: lightblue;
  margin: 0;
  padding: 5px 0; /* vertical padding only */
}

/* Format western states */
west|state {
  display: block;          /* separate line */
  background-color: lightgreen;
  margin: 0;
  padding: 5px 0; /* vertical padding only */
}
